# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build output
.next/
out/

# Production build
build/

# Environment variables
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Logs
*.log
logs/
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Optional: If you're storing PDFs or temp data
*.pdf
uploads/
